.button_plus_cart {
  position: absolute;
  margin-left: 580px;
  margin-top: 25px;
}

.button_minus_cart {
  position: absolute;
  margin-left: 500px;
  margin-top: 25px;
}

table {
    border: 2px solid black;
    margin-top : 10px;
    margin-left: 30px;

    thead {
      background: grey;
      text-align: left;
    }

    tbody:nth-child(even) {background: white}
    tbody:nth-child(odd) {background: grey}

    th, td {
      border: 0.5px solid black;
    }

    legend {
      text-align: center;
    }
}

#taburi li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#taburi li a:hover {
  background-color:orange;
}

#taburi {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#taburi li {
  float: left;
  margin-left: 10%;
}

img.start3 {
width: 10%;
position:static;
left:0px;
bottom:50px;
width:570px;
height:290px;
border:none;
}

img.start {
  width: 10%;
  position:static;
  right:170px;
  bottom:50px;
  width:630px;
  height:290px;
  border:none;
}

img.start2 {
  width: 10%;
  position:static;
  right:0px;
  bottom:50px;
  width:315px;
  height:290px;
  border:none;
}

#titlu {
  text-align: center;
}

#noutati {
  text-align: center;
  color:white;
  font-style: italic;
  background-color: #333333;
}

#program {
  text-align: center;
  color:white;
  font-style: italic;
  background-color: #333333;
}

#contact {
  text-align: center;
  color:white;
  font-style: italic;
  background-color: #333333;
}

#lista {
  list-style: none;
}


.login-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input-response {
  
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

.button-basic {
  background-color:orange;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button-basic:hover {
  opacity: 0.8;
}

.input-response {
  margin-left: 10px;
}

form {border: 3px solid #f1f1f1;}

#stop-o1 {
  stop-color: rgb(255,255,0);stop-opacity:1;
}

#stop-o2 {
  stop-color: rgb(255,0,0);stop-opacity:1;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.images {
  width: 230px;

}


.card-container{
  border: 20px solid white;
  padding-top: 10px;
  margin-left: 100px;
  margin-top: 30px;
  width: 300px;
  background-color: goldenrod;
  text-align: center;
  height: auto;
}

.card-container:hover {
  background-color:orangered;
}

.box{
display: flex;
flex-wrap: wrap;
}



.hello {
  .left {
    text-align: right;
    margin-right: 20px;
  }
  .right {
    align-self: center;
    width: 100px;
    height: 50px;
    margin-left: 1400px;

    background-color: red;
  }
}
  .message{
    border: 1px solid black;
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 30px;
    width: 800px;
    background-color: moccasin ;
    text-align: left;
  }

  .message:hover {
    background-color:orangered;
  }
  
  .messages{
  display: block;
  flex-wrap: wrap;
  }


  .thumbnail:hover {
    position:relative;
    left: 45px;
    width:180px;
    height:180px;
    display:block;
    z-index:999;
}

legend {
  text-align: center;
  
}

fieldset {
  margin-top: 30px;
  margin-bottom: 70px;

}


.cart_icon {
  height: 50px;
  width: 100px;
  margin-left: 1400px;
}

#quant_text {
  position: absolute;
  padding-left: 400px;
}

#cart_price {
  position: absolute;
  margin-left: 800px;
}

.cos {  
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  display: flex;
  margin-top: 10px;
}

.cos p {
  margin-top: 30px;
  margin-left: 20px;
}

#cart_quant {
  position: absolute;
  margin-left: 550px;
}

.button_plus_cart {
  position: absolute;
  margin-left: 580px;
  margin-top: 35px;
}

.button_minus_cart {
  position: absolute;
  margin-left: 500px;
  margin-top: 35px;
}

.send_cart_button {
  height: 60px;
  width: 180px;
  margin-left: 620px;
  margin-bottom: 50px;
  border-color: rgb(25, 0, 255);
  color:black;
  font-size: 15px;
  background-color: grey;
}

