
.layout {
  text-align: center;
  background-color: darkturquoise
}

.header {
  text-align: center;
  background-color: coral;
  color: black;
  background-image: url(./logo.svg);
}

.nav {
  text-align: center;
  color: white;
  background-color:darkblue;

  .left {
    text-align: left;

    img {
      height: 40px;
      width: 40px;
      margin-left: 8px;
    } 
  }

  .right {
    text-align: right;
    margin-right: 10px;

  }
}

.footer {
  text-align: center;
  background-color:darkmagenta;
  color: white;
}
