#container {
    background-color: lightblue;
    font-family: 'Ubuntu';
    width: 800px;
    
}

#content {
    background-color: orange;
    overflow: auto;
    margin-top: 30px;
}

#header {
    background-color: green;
    font-family: fantasy;
}
#main {
    background-color: blue;
    color: white;
    width: 600px;
    margin-top: 10px;
    float: left;
}

#nav {
    margin-top: 10px;
    background-color: purple;
    width: 180px;
    float: left;
    margin-left: 10px;
}

#form {
    background-color: gray;
}

#footer {
    background-color: black;
    color: white;
}

#main p {
    font-family: fantasy;
}

#nav tr{
    background-color: gray;
}

